# **Data Types and Structures Questions**

---



**1. What are data structures, and why are they important?**

- Data structure is a way of organizing and storing data so that it can be accessed and manipulated effectively.
- They are important because they make programs faster, save memory, and help solve problems easily.

**2. Explain the difference between mutable and immutable data types with examples.**

- Mutable: can be changed, like lists, sets, and dictionaries.

- Immutable: cannot be changed, like strings and tuples.

**3. What are the main differences between lists and tuples in Python?**

- Lists can be changed and are written with [].

- Tuples cannot be changed and are written with ().

**4. Describe how dictionaries store data.**

- Dictionaries store information as key-value pairs.

- They use a hash table behind the scenes for fast access.

**5. Why might you use a set instead of a list in Python?**

- Sets automatically remove duplicates.

- They let you check if an item exists faster than a list.

**6. What is a string in Python, and how is it different from a list?**

- A string is a sequence of characters and cannot be changed.

- A list is a collection of items that can be changed.

**7. How do tuples ensure data integrity in Python?**

- Tuples cannot be modified after creation.

- This keeps the data safe from accidental changes.

**8. What is a hash table, and how does it relate to dictionaries in Python?**

- A hash table is a structure that matches keys to values quickly.

- Python dictionaries use hash tables to store data efficiently.

**9. Can lists contain different data types in Python?**

- Yes, a list can hold numbers, strings, or even other lists together.

**10. Explain why strings are immutable in Python.**

- Strings can’t be changed so they stay safe and consistent.

- They are also useful as dictionary keys and save memory.

**11. What advantages do dictionaries offer over lists for certain tasks?**

- Dictionaries let you find values quickly using keys.

- Lists need to search item by item, which is slower.

**12. Describe a scenario where using a tuple would be preferable over a list.**

- When the data should never change, like storing coordinates (10, 20) or dates.

**13. How do sets handle duplicate values in Python?**

- Sets automatically remove duplicate items.

- Only unique items are kept.

**14. How does the "in" keyword work differently for lists and dictionaries?**

- In lists → checks if a value exists.

- In dictionaries → checks if a key exists.

**15. Can you modify the elements of a tuple? Explain why or why not.**

- No, tuples cannot be changed once created.

- This makes the data safe and unchangeable.

**16. What is a nested dictionary, and give an example of its use case?**

- A dictionary inside another dictionary.

- Example: {"name": "Priti", "marks": {"math": 90, "science": 85}}.

**17. Describe the time complexity of accessing elements in a dictionary?**

- Accessing an element is usually very fast (O(1)).

**18. in what situations are lists preferred over dictionaries?**

- When you need ordered, simple data.
- When key-value pairs are not necessary.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

- Dictionaries store data by key, not by position.

- You access values using keys, not order.

**20. Explain the difference between a list and a dictionary in terms of data retrieval?**.

- Lists → access by position (index).

- Dictionaries → access by key (name).

# **Practical Questions**

**1. Write a code to create a string with your name and print it.**

In [ ]:
String = "jay"
print(String)

jay

**2. Write a code to find the length of the string "Hello World".**

In [ ]:
String = "Hello World"
Length = len(String)
print("Length of the string: ",Length )

Length of the string:  11

**3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [ ]:
String = "Python Programming"
String [: 3]

'Pyt'

**4. Write a code to convert the string "hello" to uppercase.**

In [ ]:
String = "hello"
String.upper()

'HELLO'

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [ ]:
String = "I like apple"
String.replace("apple", "orange")

'I like orange'

**6. Write a code to create a list with numbers 1 to 5 and print it.**

In [ ]:
List = [1, 2, 3, 4, 5]
print("List: ",List)

List:  [1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [ ]:
List = [1, 2, 3, 4]
List.append(10)
print("List: ",List)

List:  [1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [ ]:
List = [1, 2, 3, 4, 5]
List.remove(3)
print("List: ",List)

List:  [1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd].**

In [ ]:
List = ['a','b','c','d']
List[1]

'b'

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [ ]:
List = [10, 20, 30, 40, 50]
Reverse = List[::-1]
print("Reverse List:", Reverse)

Reverse List: [50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
Tuple = (100, 200, 300)
print("Tuple:", Tuple)

Tuple: (100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')**

In [ ]:
Tuple = ('red', 'green', 'blue', 'yellow')
Tuple[-2]

'blue'

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [ ]:
Tuple = (10, 20, 5, 15)
min([10, 20, 5, 15])

5

**14. Write a code to find the index of the element "cat" in the tuple (dog, 'cat, rabbit).**

In [ ]:
Tuple = ('dog', 'cat', 'rabbit')
print("Index of the element 'cat': ",Tuple.index("cat"))

Index of the element 'cat':  1

**15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
Tuple = ("apple", "banana", "kiwi")
if "kiwi" in Tuple:
    print(" Yes'kiwi' is in it")
else:
    print(" No 'kiwi' is in it")

 Yes'kiwi' is in it

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [ ]:
Set = {'a', 'b', 'c'}
print(type(Set))
print("Set:",Set)

<class 'set'>
Set: {'c', 'a', 'b'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}**.

In [ ]:
Set = {1, 2, 3, 4, 5}
Set.clear()
print("Set:",Set)

Set: set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [ ]:
Set = {1, 2, 3, 4}
Set.remove(4)
print("Set:",Set)

Set: {1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [ ]:
Set1 = {1, 2, 3}
Set2 = {3, 4, 5}
Union = {1, 2, 3}.union({3, 4,5})
print("Union:", Union)

Union: {1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
Set1 = {1, 2, 3}
Set2 = {3, 4, 5}
Intersection = {1, 2, 3}.intersection({3, 4,5})
print("Intersection:", Intersection)

Intersection: {3}

**21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [ ]:
Dictionary = {"name": "Priti" , "age":24, "city": "Bhopal"}
print(type(Dictionary))
Dictionary.keys()

<class 'dict'>

dict_keys(['name', 'age', 'city'])

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [ ]:
Dictionary = {'name': 'John', 'age': 25}
Dictionary["country"] = "USA"
print(Dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [ ]:
Dictionary = {'name': 'Alice', 'age': 30}
Dictionary["name"]

'Alice'

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, city': 'New York'}.**

In [ ]:
Dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
Dictionary.pop("age")
print("Dictionary:",Dictionary)

Dictionary: {'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [ ]:
Dictionary = {'name': 'Alice', 'city': 'Paris'}
key = "city"
if key in Dictionary:
    print("Key 'city' exists in the dictionary")
else:
    print("key 'city' not exists in the dictionary")

Key 'city' exists in the dictionary

**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [ ]:
List = [1, 2, 4.5, 3+4j, True, "jay"]
Tuple = ("Ajay", "Rahul", True, "jay")
Dictionary = {"Name": "jay", "Age" : 27}
print(f"""
List: {List}
Tuple: {Tuple}
Dictionary: {Dictionary}
""")

List: [1, 2, 4.5, (3+4j), True, 'jay']
Tuple: ('Ajay', 'Rahul', True, 'jay')
Dictionary: {'Name': 'jay', 'Age': 27}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [ ]:
import random

#create a empty list
Ramdom_Numbers = []

# Generate 5 random numbers between 1 and 100
for i in range(5):
    Ramdom_Numbers.append(random.randint(1, 100))

#sort the list in ascending order
Ramdom_Numbers.sort()

print(Ramdom_Numbers)

[28, 29, 55, 58, 97]

**28. Write a code to create a list with strings and print the element at the third index.**

In [ ]:
List = ["sonu", "soma", "jay" , "sathi"]

# Print the element at the third index (index starts from 0)
Third_Index = List[3]
print("Third_Index:" ,Third_Index)

Third_Index: sathi

**29. Write a code to combine two dictionaries into one and print the result.**

In [ ]:
Dictionary1 = {"Name": "jay", "Age" : 27}
Dictionary2 = {"Name1": "sathi", "Age1" : 21}

#combine two dictionaries into one
Dictionary1.update(Dictionary2)
print("Dictionary1:", Dictionary1)

Dictionary1: {'Name': 'jay', 'Age': 27, 'Name1': 'sathi', 'Age1': 21}

**30. Write a code to convert a list of strings into a set.**

In [ ]:
My_List = ["jay", "sathi", "Soma" , "priyanka"]

#convert a list of strings into a set
Set = set(My_List)
print("My_List_covnert_into_Set:", Set)

My_List_covnert_into_Set: {'jay', 'priyanka', 'Soma', 'sathi'}